.cards__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 100px;
    width: 240px;
    align-content: center;
  }
.cards__item:nth-child(3n) {
    margin-right: 0;
  }